.forms{
    width: 47%;
    margin-left: 25px;
    margin-top: 20px;
}

.divBtnSave{
    display: flex;
    justify-content: flex-end;
    width: 96%;
    margin: 10px;
}

.btnSave{
    padding-inline: 35px;
}

.custom-button {
    background-color: #353c50 !important; 
    color: #fff !important;
    border: none; 
  }
  
  .custom-button:hover {
    background-color: #585a61 !important;
  }
