<form [formGroup]="setupSmsForm" (ngSubmit)="salvar()">

    <!-- Provedor Sms -->
    <mat-form-field class="forms">
      <mat-label>Provedor Sms</mat-label>
      <input matInput formControlName="provedorSms" />
      <mat-error *ngIf="setupSmsForm.get('provedorSms')?.hasError('required')">
        Provedor Sms é obrigatório
      </mat-error>
    </mat-form-field>
  
    <!-- Login -->
    <mat-form-field class="forms">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" />
      <mat-error *ngIf="setupSmsForm.get('login')?.hasError('required')">
        Login é obrigatório
      </mat-error>
    </mat-form-field>
  
    <!-- Senha -->
    <mat-form-field class="forms">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha" />
      <mat-error *ngIf="setupSmsForm.get('senha')?.hasError('required')">
        Senha é obrigatória
      </mat-error>
    </mat-form-field>
  
    <!-- Botão Salvar -->
    <div class="divBtnSave">
      <button mat-raised-button class="custom-button" type="submit">Salvar</button>
    </div>
  
  </form>
  