.forms{
    width: 47%;
    margin-left: 25px;
    margin-top: 20px;
}

.divBtnSave{
    display: flex;
    justify-content: flex-end;
    width: 96%;
    margin: 10px;
}

.btnSave{
    padding-inline: 35px;
}