<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [style.backgroundColor]="'#353c50'" class="sidenav">
    <mat-toolbar color="#fff">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header >
          <mat-panel-title>
            Configurações
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="/Cadastro">Cadasto de Aplicativo</a>
          <a mat-list-item [routerLink]="!menuSetupWebActive ? null : '/SetupWeb'" [ngClass]="{'disabled-link': !menuSetupWebActive}">
            Configuração Web
          </a>
          <a mat-list-item [routerLink]="!menuSetupEmailActive ? null : '/SetupEmail'" [ngClass]="{'disabled-link': !menuSetupEmailActive}">
            Configuração E-mail
          </a>
          <a mat-list-item [routerLink]="!menuSetupSmsActive ? null : '/SetupSms'" [ngClass]="{'disabled-link': !menuSetupSmsActive}">
            Configuração SMS
          </a>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            Notificações
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="/EnvioManual">Envio Manual</a>
          <a mat-list-item routerLink="/Historico">Histórico</a>
        </mat-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ sidenavOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="formFieldAplicativos">
        <mat-label style="color:#fff">Nome do Aplicativo</mat-label>
        <mat-select matNativeControl (selectionChange)="onSelectionChange($event)" style="color:#fff!important">
          @for (itemConfig of listConfiguracao; track listConfiguracao) {
            <mat-option [value]="itemConfig.idConfiguracao">{{itemConfig.nomeAplicativo}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>