<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [style.backgroundColor]="'#353c50'" class="sidenav">
    <mat-toolbar color="#fff">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header >
          <mat-panel-title>
            Configurações
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="/Cadastro">Cadasto de Aplicativo</a>
          <a mat-list-item routerLink="/SetupWeb">Configuração Web</a>
          <a mat-list-item routerLink="/SetupEmail">Configuração E-mail</a>
          <a mat-list-item routerLink="/SetupSms">Configuração SMS</a>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            Notificações
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="/EnvioManual">Envio Manual</a>
          <a mat-list-item routerLink="/Historico">Histórico</a>
        </mat-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ sidenavOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="formFieldAplicativos">
        <mat-label style="color:#fff">Nome do Aplicativo</mat-label>
        <mat-select style="color:#fff!important">
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>