.sidenav-container {
  height: 100vh;
}

.sidenav {
  background-color: #353c50;
  color: #fff;
  overflow-y: visible;
  border: 0px;
}

.formFieldAplicativos{
  margin-left: auto;
  margin-top: 20px;
}

.disabled-link{
  background-color: #E0E0E0 !important; 
}

mat-toolbar {
  background-color: #353c50;
  color: #fff;
}

mat-expansion-panel{
  margin: 10px;
}